@charset 'utf-8';

*{margin: 0; padding: 0;}
li{list-style: none;}
a:link, a:visiter{text-decoration: none; color:#333;}
.clearfix:after{content: ""; display: block; clear: both;}

h1{text-align: center;}
ul.gnb{}
ul.gnb li{float: left; width: calc(100% / 3); text-align: center; line-height: 40px;}
ul.gnb li:hover{background: skyblue;}

footer.footer{
    background: #ccc; padding: 20px;
}